/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #F6F5F7;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;

}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/*  */
/* .main-container{
    display: grid;
    grid-template-columns: 200px 1fr;
} */

/* Profile Section */
.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.profile-edit-btn{
    background-color: #0095F6;
    color: white;
}

.profile {
    padding: 5rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    grid-row-gap: 20px;
    align-items: center;
    border-bottom: 1px solid #e1e8ed;

}

.profile-user-settings {
    margin-top: 1.1rem;
    display:flex;
    justify-content: center;
}

.profile-user-name {
    margin: 0px 20px 0px 0px;
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-stats {
    margin-top: 2.3rem;
    display: flex;
    justify-content: center;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
    display: flex;
    justify-content: center;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/* Loader */

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    
    

   

    .profile-image,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        display: block;
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
    .profile-image {
        grid-row: 1 / -1;
    }

    .profile-image,
    .profile-stats,
    .profile-bio{
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}



/* posts css */
  
  /* This element would be replaced by where you want the templates. */ 
  /* .tweetEntry-tweetHolder {
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-top: 1px solid #e1e8ed;
    width: 588px;
    margin: auto;
    border-radius: 5px;
  }
  
  /* The action list is optional. */
  .tweetEntry-action-list {
    display: block;
    line-height: 18px;
    margin-left: 58px;
    margin-top: 10px;
    color: #292f33;
  }
  .fa-reply:hover {
    color: #292f33;
  }
  .fa-retweet:hover {
    color: #5cd65c;
  }
  .fa-heart:hover {
    color: #ff3333;
  }
  /************************/
  
.tweetEntry {
    border-bottom: 3px solid #e1e8ed;
    cursor:move;
    min-height: 51px;
    margin: 20px 0px 20px 0px;
}

.tweetEntry-content {
    display: block;
    font-size: 14px;
    margin-left: 58px;
    font-size: 14px;
}
.tweetEntry-account-group {
    color: #8899a6;
    padding: 0px;
    text-decoration: none;
    line-height: 20px;
}
.tweetEntry-avatar {
    float: left;
    height: 48px;
    width: 48px;
    margin-left: -58px;
    border-radius: 5px;
}
.tweetEntry-fullname {
    font-weight: bold;
    font-size: 14px;
    color: #292f33;
    padding: 0px;
}
.tweetEntry-username {
    font-weight: bold;
    font-size: 14px;
    color: #b1bbc3;
    padding: 0px;
}
.tweetEntry-timestamp {
    font-size: 14px;
    color: #b1bbc3;
    padding: 0px;
}
.tweetEntry-text-container {
    font-size: 14px;
    color: #292f33;
    line-height: 18px;
}

.tweets-container{
    border-radius: 5px;
    background-color: #e0e0e4;
}

.tweet-reply{
    cursor: pointer;
    min-height: 51px;
    margin: 10px 0px;
    background-color: #efeff0;
    
    }

.replys{
    padding-left: 50px;
}

  /* end of posts styles */

.vl {
    border-left: 6px solid #33c5ff;
    position: relative;
    height: 50px;
    left: 50%;
    margin-left: -3px;
}

